.account-container {
    margin-bottom: 3%;
}

.password-req {
    text-align: left;
}

.password-req > * {
    margin: 5px;
    font-size: smaller;
    color: gray;
}

.reg-errors {
    color: red;
    text-align: left;
    font-size: smaller;
}

.reg-errors > * {
    margin: 5px;
}

.colStyle {
    border: 2px solid gray;
    border-radius: 5%;
    padding: 30px;
    margin: 20px;
}

.loginButtonStyle {
    width: 100%;
    margin: 5px;
    border: 1px solid black;
}

.otherLoggingOptions {
    margin-top: 15px;
}
